@use '../styles/variables';
@use '../styles/mixins';

.nav {
	display: none;
	@include mixins.breakpoint(md) {
		display: block;
	}
}
.navList {
	display: flex;
}
.navItemAnchor {
	font-weight: bold;
	font-size: 1.25rem;
	font-family: variables.$font__sherman_sans;
	text-decoration: none;
	padding: 1rem;
	color: variables.$color__blue;
}
