@use '../styles/variables';

.person {
	//background-color: pink;
	margin-bottom: 1rem;
}
.personContent {
	//padding: 1rem;
}
.personImage {
	border-bottom: 2px solid variables.$color__orange !important;
	margin-bottom: 0.5rem !important;
}

