@use '../styles/variables';
@use '../styles/mixins';

.person {
	//background-color: pink;
	margin-bottom: 1rem;
}
.personContent {
	//padding: 1rem;
}
.personImage {

}
.person_teaser_row {
	//background-color: pink;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: .5rem;
	& > span {
		width: 4rem !important;
		height: auto !important;
		margin-right: 1rem !important;
	}
}
.metaInformation {
	text-align: center;
	color: variables.$color__blue;
	margin-bottom: 1rem;
	li {
		margin-bottom: 1rem;
	}
}
.job {
	font-family: variables.$font__sherman_sans;
	font-size: 1rem;
	display: block;
	margin-bottom: 0.5rem;
}

.company {
	font-family: variables.$font__sherman_sans;
	font-size: 0.9rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;

	a {
		color: variables.$color__blue;
	}
}

