@use '../styles/mixins';
@use '../styles/variables';

.row {
	display: flex;
	flex-wrap: wrap;
}
.align-items-center {
	align-items: center;
}
.align-items-flex-start {
	align-items: flex-start;
}
.align-items-flex-end {
	align-items: flex-end;
}
.justify-content-space-between {
	justify-content: space-between;
}
.justify-content-center {
	justify-content: center;
}
.flex-direction-column {
	flex-direction: column;
}
.flex-direction-row {
	flex-direction: row;
}
.table-header {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 2px solid variables.$color__blue;
	@include mixins.breakpoint(xs) {
			display: none;
		}
}
.table-row {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	border-bottom: 1px dotted variables.$color__blue;
	margin-bottom: 0;
}
