@use '../styles/variables';
@use '../styles/mixins';

.section {
	padding: 2rem 0;
	@include mixins.breakpoint(sm) {
		padding: 2.25rem 0;
	}
	@include mixins.breakpoint(md) {
		padding: 2.75rem 0;
	}
	@include mixins.breakpoint(lg) {
		padding: 3rem 0;
	}
}
.background-color-blue {
	background-color: variables.$color__blue;
}
.background-color-orange{
	background-color: variables.$color__orange;
}
.background-color-orange_10 {
	background-color: variables.$color__orange_10;
}
