@use '../styles/variables';
@use '../styles/mixins';

.section {
	padding: 5rem 0 2rem 0;
	@include mixins.breakpoint(sm) {
		padding: 5rem 0 2.25rem 0;
	}
	@include mixins.breakpoint(md) {
		padding: 2.75rem 0;
	}
	@include mixins.breakpoint(lg) {
		padding: 3rem 0;
	}
	@include mixins.backgroundColors();
}

